

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/wall2.jpg);
  background-size: cover;
}

header{

}

h1{
  font-size: 60px;
}
h2{
  font-size: 40px;
}
nav{
  width: 500px;
  height: 100px;
  text-align: center;

}

.link{
  font-size: 40px;
  margin: 10px;
  background-color: yellow;
}

article{
display: flex;
flex-direction: row-reverse;
}

div{
  height: 1300px;
  width: 500px;
text-shadow:2px 2px gainsboro;
margin-top: -40px;
}


p{
  font-size: 20px;
}
h3{
  font-size: 40px;
}

@media all and (min-device-width: 850px) {

  div{
    height: 940px;
    width: 700px;
  }
body{
  background-image: url(../img/wall1.jpg);
  background-size: cover;
}
}
